<div [@routerTransition]>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">

                <!-- Esta busqueda esta pendiente de implementar -->
                <!-- <div class="col-md-4 mb-1">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="inpBuscar" [ngModelOptions]="{standalone: true}" (keyup.enter)="loadGrid()" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" (click)="loadGrid()">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>   -->

                <div class="col-md-12 mb-3">
                    <p-table [value]="items" selectionMode="single" [loading]="loading" [loadingIcon]="">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:80px">Quitar</th>
                                <th>Codigo</th>
                                <th>Nombre</th>
                                <th>Acción</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-itemx>
                            <tr [pSelectableRow]="itemx">
                                <td style="text-align: center">
                                    <button pButton icon="pi pi-times" class="ui-button-danger" (click)="deleteSelectedItem(itemx)"></button>
                                </td>
                                <td>{{itemx.resource.id}}</td>
                                <td>{{itemx.resource.name}}</td>
                                <td>{{itemx.permissionDetails[0].permissionAction.name}}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary" let-rowData>
                            <div style="text-align:left">
                                <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" label="Agregar"></button>
                            </div>
                        </ng-template>
                    </p-table>
                </div>                        
            </div>
        </div>
    </div>
<!-- /.row -->
</div>

<p-dialog header="Seleccione un recurso" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true" [width]="800" appendTo="body">
    <div class="col-md-4 mb-1">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="inpBuscarRecursos" [ngModelOptions]="{standalone: true}" (keyup.enter)="loadGrid()" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="loadGridRecursos()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </div>  
    <div class="col-md-12 mb-3">
        <p-table [value]="recursos" selectionMode="single" (onRowSelect)="onRowSelect($event)" [loading]="loading" [loadingIcon]="">
            <ng-template pTemplate="header">
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-itemx>
                <tr [pSelectableRow]="itemx">
                    <td>{{itemx.id}}</td>
                    <td>{{itemx.name}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div> 
</p-dialog>

<p-dialog header="Seleccione una acción de permiso" [(visible)]="displayDialogAccion" [responsive]="true" showEffect="fade" 
    [modal]="true" [closable]="true" [width]="350" appendTo="body">
    
        <div class="ui-g ui-fluid">
            <div class="col-md-12 mb-3">
                <!-- <label for="firstName">Acción de permiso</label> -->
                <select class="form-control" [(ngModel)]="selAccionPermiso">
                    <option [value]="accionPermiso.id" *ngFor="let accionPermiso of accionesPermiso">{{accionPermiso.name}}</option>
                </select>
            </div>
        </div>

        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <!-- <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Eliminar" class="ui-button-danger"></button> -->
                <button type="button" pButton icon="pi pi-check" (click)="save()" label="Aceptar" class="ui-button-success"></button>
            </div>
        </p-footer>
</p-dialog>

<p-toast key="tst-info" position="center"></p-toast>