<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>C.R.L. Admin Seguridad</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <!-- <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}"> -->
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" placeholder="Usuario" [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group">
                        <!-- <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}"> -->
                        <input type="password" class="form-control input-underline input-lg" placeholder="Contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <button type="button" class="form-control btn rounded-btn" (click)="onLoggedin(content)">Entrar</button>
                    </div>

                </div>
                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']" (click)="onLoggedin()">{{ 'Log in' | translate }}</a> -->
                <!-- <button type="button" class="btn rounded-btn" (click)="onLoggedin(content)">Entrar</button> -->
                <!-- &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a> -->
            </form>

            <!-- modal -->
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Información</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Ingrese un usuario y contraseña válidos.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
                </div>
            </ng-template>

        </div>
    </div>
</div>
